<div class="header-start-section">
    <div class="header-section">
        <div class="header-headline">
            <h1 class="mat-h1">Fábián Shops</h1>
            <h2 class="mat-h2">Ahol megtalálod boltod</h2>
        </div>
    </div>
</div>

<div style="margin: 40px;">
    <h1 style="font-size:26px; font-weight: 500;">Adj visszajelzést!</h1>
    <p style="font-size:20px; line-height: 1.6; color: grey">Ez a weboldal megmutatja a boltokat a Fábián áruházban. Saját boltokat lehet hozzáadni, módosítani, illetve törölni.</p>
</div>

<div class="connect-top">
    Kövess minket több platformon is!
</div>
<div class="connect-with-me">
    <ul>
        <li class="zoom">
            <a href="https://instagram.com" target="_blank"><img src="https://img.icons8.com/color/96/null/instagram-new--v1.png"/></a>
            <p>Instagram</p>
        </li>
        <li class="zoom">
            <a href="https://twitter.com" target="_blank"><img src="https://img.icons8.com/color/96/null/twitter--v1.png"/></a>
            <p>Twitter</p>
        </li>
        <li class="zoom">
            <a href="https://tiktok.com" target="_blank"><img src="https://img.icons8.com/color/96/null/tiktok--v1.png"/></a>
            <p>TikTok</p>
        </li>
    </ul>
</div>