<div class="header-start-section">
    <div class="header-section">
        <div class="headerheadline">
            <h1 class="mat-h1">Fábián Shops</h1>
            <h2 class="mat-h2">A boltok listája</h2>
        </div>
        <div *ngIf="afAuth.authState | async as user">
            <h3 style="font-size:30px; color:white">Üdvözöllek {{user.displayName}}!</h3>
        </div>

        <div *ngIf="(afAuth.authState | async) === null">
            <h3 style="font-size:30px; color:white">Üdvözöllek!</h3>
        </div>

    </div>
</div>

<div class="filter-search">
    <mat-card style="background: #541472; color:white; padding: 10px 45px">Keresés</mat-card>
</div>
<div class="filter-fx" style="margin-bottom: 50px">
    <mat-form-field style="margin-left:3px; width: 187px;">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Pl.: Media markt" #input>
    </mat-form-field>
</div>

<div *ngIf="noShopEntries===false">
    <mat-card *ngFor="let data of obs | async" class="example-card">
        <mat-card-header>
            <img [src]="data.shopImage" mat-card-avatar />
          <mat-card-title>{{data.shopName}}</mat-card-title>
          <mat-card-subtitle>{{data.shopAddress}}</mat-card-subtitle>
        </mat-card-header>
        <img class="shop-image-section" mat-card-image [src]="data.shopImage" alt="Photo of the shop">
        <mat-card-content>
            <h1 style="margin-top: 20px">
                Bolt adatai
            </h1>
            <div style="font-size:16px">
                <div class="mat-list-fix"><p><b>Telefonszám</b> : {{data.shopNumber}}</p></div>
                <mat-divider></mat-divider>

                <div class="mat-list-fix"><p><b>Nyitvatartás</b> : {{data.shopTimings}} </p></div>
                <mat-divider></mat-divider>

                <div class="mat-list-fix"><p><b>Kategóriák</b> : {{data.shopCategory}} </p></div>
                <mat-divider></mat-divider>

                <div class="mat-list-fix"><p><b>Boltról</b> : {{data.shopDescription}} </p></div>
                <mat-divider></mat-divider>

                <div class="postedby-heading">
                    <div style="margin-top: 5px">
                        <b>Feltöltve:</b>
                    </div>
                    <div class="postedby-image">
                        <img [src]="data.userImage" mat-card-avatar>
                    </div>
                    <div style="margin-left:10px; margin-top: 5px;">
                        <p>{{data.userName}}</p>
                    </div>
                </div>
            </div>
        </mat-card-content>
        <div *ngIf="(afAuth.authState | async) && (data.uid === uid)">
            <button style="margin-right: 10px;" mat-raised-button (click)="editShop(data)" color="primary">Szerkesztés <mat-icon>edit</mat-icon></button>
            
            <button mat-raised-button (click)="deleteShop(data.id)" color="warn">Törlés <mat-icon>delete</mat-icon></button>
        </div>
      </mat-card>
</div>

<div *ngIf="noShopEntries===true">
    <mat-card style="font-size:20px; font-weight:400; margin-bottom:100px">Úgy tűnik nincs egy bolt sem!</mat-card>
</div>